<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    
    <!--<add key="ImagesFolder" value="C:\Dev\DownloadFromWhatsapp\" />
    <add key="FtpServer" value="192.168.1.14" />
    <add key="FtpUserName" value="tzahi556" />
    <add key="FtpPassword" value="jadekia556" />
    <add key="FtpWhatsappFolder" value="bin/WhatsappTemp/" />
    <add key="GoHurryApiGet" value="http://localhost/GoHurry.Web/api/" />-->

    <add key="ImagesFolder" value="C:\Dev\DownloadFromWhatsapp\" />
    <add key="FtpServer" value="Web-Cpa.net" />
    <add key="FtpUserName" value="Administrator" />
    <add key="FtpPassword" value="dyWb7d7z" />
    <add key="FtpWhatsappFolder" value="bin/WhatsappTemp/" />
    <add key="GoHurryApiGet" value="https://www.web-cpa.net/api/" />
    
    <!--<add key="ImagesFolder" value="C:\Dev\DownloadFromWhatsapp\" />
    <add key="FtpServer" value="Web-Cpa.net" />
    <add key="FtpUserName" value="cpa-ftp" />
    <add key="FtpPassword" value="@Asaf2016#Avi123" />
    <add key="FtpWhatsappFolder" value="bin/WhatsappTemp/" />
    <add key="GoHurryApiGet" value="https://www.web-cpa.net/api/" />-->
    
    
  </appSettings>
</configuration>